<div id="HEADER">
	<div style="float:left">
	<a href="help.html"><img style="vertical-align:middle" alt="VECTO-Logo" src="pics/VECTO-small.PNG"></a>
	<a href="help.html">User Manual</a>
	</div>
	<div style="text-align: right">
	<a href="https://ec.europa.eu/clima/" target="_blank"><img style="border: 0px solid; height: 40px;" alt="European Commission" src="pics/EuropeanCommission.jpg" hspace="5"></a>
<!-- 	<a href="http://www.ivt.tugraz.at/" target="_blank"><img src="pics/IVT.png" alt="IVT-Logo" style="border: 0px solid; width: 74px; height: 36px;" hspace="5"></a>
	<a href="http://portal.tugraz.at/pls/portal/url/page/TU_Graz" target="_blank"><img src="pics/TUG.png" alt="TUG-Logo" style="border: 0px solid; width: 96px; height: 36px;" hspace="5"></a>
 -->	</div>
</div>
<div id="CONTENT">
</div>